.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    height: 20vh;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
    box-shadow: 2px 4px 10px 1px rgb(53, 52, 53);
    border-radius: 10px;
    
    

    .left,.right{
        display:flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight:bold;
            font-size: 15;
            color: rgb(19, 27, 27);  
        }

        .counter{
            font-size: 30px;
            font-weight: 300;
        }

        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid rgb(255, 246, 234);
        }

        .numberOf{
            display: flex;
            align-items: center;
            font-size: 15px;
        }

        .icon{
            font-size: 20px;
            padding: 5px;
            background-color: rgb(255, 154, 255);
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}
.widget:hover {
    color:rgb(0, 0, 0);
    background: rgb(212, 212, 212);
    transition-delay: 100ms;
}